doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="description" content="Stanley Yang's general guide on life")
    meta(name="author" content="Stanley Yang")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no")
    meta(name="keywords" content="stanley,yang,software,web,Internet,development")

    //-TODO: Fill this out for facebook
    meta(property="og:title" content="The best site")
    meta(property="og:image" content="link_to_image")
    meta(property="og:description" content="description goes here")

    //-Google plus
    link(rel="author" href="https://plus.google.com/112731821925406980153")
    link(rel="copyright" href="http://www.stanleycyang.com")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway")
  body
    block content
